# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables / secretos
.env
.env.*

# Chroma / DB local
chroma_db/
chromadb/
*.sqlite3

# Uploads temporales
uploads/

# OS / editor
.vscode/
.DS_Store
Thumbs.db
